<div class = "container">
  <br>

  <div class="page-header">
    <div class = "pull-right">
      <%= link_to 'Edit', edit_task_path, class: 'btn btn-info' %>
    </div>
    <h1>Finish Homework</h1>
  </div>


<font color><p id="notice">
  <div class="alert alert-success">
  <%= notice %>
  </div>
  </p></font>

  <ol class="breadcrumb">
    <li><%= link_to 'Tasks', task_path %></li>
    <li class="active">Finish Homework</li>
  </ol>

<!-- <p>
  <strong>Description:</strong>
  <%= @task.description %>
</p> -->

<!-- <%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %> -->
</div>
