<div class="container">

  <div class="page-header">
    <div class = "pull-right">
      <%= link_to 'Edit', edit_project_task_path, class: 'btn btn-info' %>
    </div>
    <h1><%= @task.description %></h1>
  </div>

  <ol class="breadcrumb">
    <li><%= link_to "Projects", projects_path(@project) %></li>
    <li><%= link_to @project.name, project_path(@project) %></li>
    <li><%= link_to "Tasks", project_tasks_path(@project) %></li>
    <li><%= @task.description %></li>
  </ol>


  <div class="container">
  <strong>Due On</strong>
  <%= @task.date.to_s.gsub("-","/") %>
  </div>

  <% @comments.each do |comment| %>
  <div class="col-md-3">
    <%= comment.user.full_name %><br>
    <%= time_ago_in_words(comment.created_at) %>
  </div>
  <div class="col-md-9">
    <%= comment.comment %>
  </div>
  <% end %>

  <%= form_for([@project, @task, @comment]) do |f| %>
  <%= f.label :comment, class: "control-label col-md-3" %>
  <%= f.text_area :comment, size: "90x12" %><br>
  <div class="col-md-offset-3"><%= f.submit "Add Comment" %></div>
  <% end %>

</div>
