<div class = "container">
  <br>

  <font color><p id="notice">
    <% if flash[:notice] %>
    <div class="alert alert-success text-center"><%= flash[:notice] %><% end %>
      <%= notice %>
    </div>
  </p></font>

  <div class="page-header">
    <div class = "pull-right">
      <%= link_to 'Edit', edit_task_path, class: 'btn btn-info' %>
    </div>
    <h1><%= @task.description %></h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="/tasks">Tasks</a></li>
    <li class="active"><%= @task.description %></li>
  </ol>

<!-- <p>
  <strong>Description:</strong>
  <%= @task.description %>
</p> -->

<!-- <%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %> -->
</div>
