<div class="container">

  <div class="page-header">
    <div class = "pull-right">
      <%= link_to 'Edit', edit_project_task_path, class: 'btn btn-info' %>
    </div>
    <h1><%= @task.description %></h1>
  </div>

  <ol class="breadcrumb">
    <li><%= link_to "Projects", projects_path(@project) %></li>
    <li><%= link_to @project.name, project_path(@project) %></li>
    <li><%= link_to "Tasks", project_tasks_path(@project) %></li>
    <li><%= @task.description %></li>
  </ol>


  <div class="container">
  <strong>Due On</strong>
  <%= @task.date.to_s.gsub("-","/") %>
  </div>

  <% @comments.each do |comment| %>
  <div class="row">
    <div class="col-md-3">
      <%= comment.user.full_name %><br>
      <div class="text-muted">
        <%= time_ago_in_words(comment.created_at) %>
      </div>
    </div>
    <div class="col-md-9">
      <%= comment.comment %>
    </div>
  </div>
  <% end %>

  <div class="col-md-9 pull-right">
  <%= form_for([@project, @task, @comment]) do |f| %>
  <%= f.label :comment %>
  <%= f.text_area :comment, class: "form-control" %><br>
  <%= f.submit "Add Comment" %>
  <% end %>
  </div>

</div>
