<%= form_for @user do |f| %>

<div class="form-group">
<%= f.label :first_name, class: "control-label col-md-2" %>
<%= f.text_field :first_name %><br>

<%= f.label :last_name, class: "control-label col-md-2" %>
<%= f.text_field :last_name %><br>

<%= f.label :email, class: "control-label col-md-2" %>
<%= f.email_field :email %><br>

<br>


<%= f.submit "Create User", class:"btn btn-primary col-md-offset-2"%>
<%= link_to 'Cancel', users_path, class:"btn btn-default" %>

</div>


<% end %>
