<%= form_for @project, html: {class: "form-horizontal"} do |f| %>
<%= render "layouts/error", object: @project %>

<%= form_for @project do |f| %>

<div class="form-group">
  <%= f.label :name, class: "control-label col-md-2" %>
  <%= f.text_field :name, class: "col-md-4" %><br>
</div>
<br>


<div class="form-group">
  <%= f.submit class:"btn btn-primary col-md-offset-2"%>
  <%= link_to 'Cancel', projects_path, class:"btn btn-default" %>
</div>



<% end %>
