
<div class = "container">
<h1 >Frequently Asked Questions</h1>
<hr>
<ul>
  <% @q_and_a.each do |question| %>
  <li><%= link_to question.question, "#"+ question.slug %> </u>
  <% end %>
</ul>


<div>
  <% @q_and_a.each do |question, answer| %>
  <a id="<%= question.slug %>"></a>
  <p><h5><%= question.question %> </h5></p>
    <br>
    <p> <%= question.answer %> </p>
    <%= link_to "Top", "#top" %>
    <% end %>
  </div>

</div>
