<div class="page-header"><h1>About</h1></div>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag("about.jpg", class: "img-responsive") %>
    </div>

  <div class="col-md-8">
    <p>Tasky is an application that allows users to create projects and add specific tasks for other members.</p>
  
  </div>

  </div>
<br>
Tasky is extremely active.  Check out our killer stats below!
<br>
<%= pluralize(@projects.count, "Project") %>,
<%= pluralize(@tasks.count, "Task") %>,
<%= pluralize(@memberships.count, "Membership") %>,
<%= pluralize(@users.count, "User") %>,
<%= pluralize(@comments.count, "Comment") %>
